sentencepiece
protobuf
numpy
torch
openai
accelerate
tokenizers>=0.13.3
transformers>=4.38.0
huggingface-hub
bitsandbytes @ git+https://github.com/TimDettmers/bitsandbytes
einops
wandb
scipy
peft @ git+https://github.com/huggingface/peft.git
trl
datasets
pkbar
sentence-transformers
matplotlib
tenacity
langchain
langchain-community
langchain-openai
progressbar2
langsmith>=0.0.72
mlx_lm