sentencepiece
protobuf
numpy
torch
openai
accelerate
tokenizers>=0.13.3
transformers>=4.38.0
huggingface-hub
bitsandbytes @ git+https://github.com/TimDettmers/bitsandbytes
einops
wandb
scipy
peft @ git+https://github.com/huggingface/peft.git
trl<0.9.0
datasets
pkbar
sentence-transformers
matplotlib
tenacity
langchain<0.2.0,>=0.1.15
langchain-core<0.2.0,>=0.1.52
langchain-community
langchain-openai
langchain-ollama
progressbar2
langsmith>=0.0.72
langchain-experimental
langchain-googledrive
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
unstructured