sentencepiece
protobuf
langchain
openai
accelerate
tokenizers==0.13.3
transformers @ git+https://github.com/huggingface/transformers.git
huggingface-hub
bitsandbytes
einops
wandb
scipy
peft @ git+https://github.com/huggingface/peft.git
trl